
<div>

  <p><h6 style="color: #065b83;">Posted on : {{  format_date meds.date_created}} by {{meds.med_name}} | {{meds.made_by}} </p></h6>
  <p><span class="col-md-12">{{meds.content}}</span></p>
{{#if comments.length}}
<p class="commets">Comments:</p>
{{/if}}  
  {{#each comments as |comment| }}
    <div class="row mb-4 project">
      <div class="col-md-12">
        <h6 class="col-md-2" style="display: inline;">{{get_emoji}}{{comment.comment}} <p style="color: red;display: inline;">|</p> Posted by: {{comment.name}} on {{format_date comment.date_created}}</h6>
      </div>
      <div class="col-md-7">
        <p>
        </p>
      </div>
    </div>
{{/each}}
{{#if logged_in}}
  <form class="form new-comemnt-form">
        <div class="form-group">
          <label for="comment-submit"></label>
          <input class="form-input" type="text" id="comment-submit" />
        </div>
        <div class="form-group">


</div>
<div class="range-container form-group">
      <h4>How would you rate the medication?</h4>
      <div class="radio-buttons">
        <label class="custom-radio">
          <input type="radio" name="radio" checked value="1"/>
          <span class="radio-btn"
            ><i class="fa-solid fa-1"></i>

            <div class="hobbies-icon">
                <i class="fa-solid fa-syringe"></i>

            </div>
          </span>
        </label>
        <label class="custom-radio">
          <input type="radio" name="radio" value="2" />
          <span class="radio-btn"
            ><i class="fa-solid fa-2"></i>
            <div class="hobbies-icon">
                <i class="fa-solid fa-syringe"></i>

            </div>
          </span>
        </label>
        <label class="custom-radio">
          <input type="radio" name="radio" value="3" />
          <span class="radio-btn"
            ><i class="fa-solid fa-3"></i>
            <div class="hobbies-icon">
                <i class="fa-solid fa-syringe"></i>

            </div>
          </span>
        </label>
        <label class="custom-radio">
          <input type="radio" name="radio" value="4"/>
          <span class="radio-btn"
            ><i class="fa-solid fa-4"></i>
            <div class="hobbies-icon">
                <i class="fa-solid fa-syringe"></i>

   
            </div>
          </span>
        </label>
        <label class="custom-radio">
          <input type="radio" name="radio" value="5"/>
          <span class="radio-btn"
            ><i class="fa-solid fa-5"></i>
            <div class="hobbies-icon">
                <i class="fa-solid fa-syringe"></i>

   
            </div>
          </span>
        </label>
      </div>
    </div>
              <button style="display: inline;" class="btn btn-primary" type="submit" id="s1" value="{{cmss.id}}" >Submit</button>
        </div>
  </form>
{{/if}}
    <script
    src="https://kit.fontawesome.com/ef81dcc31e.js"
    crossorigin="anonymous"
    ></script>
<script src="../js/submit-comment.js"></script>
 